body {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-galaxy-background_23-2148973124.jpg?t=st=1737847288~exp=1737850888~hmac=5d63713598a9e10ececc4999f3f2ce31846f5de4651e0ec4ba3321be4d9f000d&w=996");
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: rgb(161, 201, 242);
    margin: 20px;
}


#chatbox {
    width: 60%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#chat {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #5887f485;
    border-radius: 5px;
}

input {
    width: 70%;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #84b5e9;
}
